:root {
  --primary: #006cfa;
  --secondry: #00e165;
}

[class^="col"] {
  background-color: var(--primary);
  color: white;
  border: 1px solid white;
  height: 40px;
}

.nested {
  background-color: var(--secondry);
  height: 20px;
  border: 1px solid var(--primary);
  font-size: 9px;
}
